/*
------
RESET
------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
------
TYPO
------
*/

/*
------
COMMON
------
*/

/*
------
HEADER
------
*/

header {
    height: 40px;
    background-color: #000000;
}

/*
------
MAIN
------
*/

main {
    height: calc(100vh - 110px);
}

/*
------
FOOTER
------
*/

footer {
    height: 70px;
    background-color: #222222;
}